 /* Color Palette
  *   Primary color: Black;
  * Secondary color: #22adb5;
*/
  body {
    margin: 0;
    font-family: Arial;
  }
  #grad1 {
    line-height: 200px;
    height: 200px;
    background: #77c9d4; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #77c9d4, #41f4d3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #77c9d4, #41f4d3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #77c9d4, #41f4d3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #77c9d4, #41f4d3); /* Standard syntax (must be last) */
  }
  #container {
    margin-left: 10%;
    margin-right: 10%;
  }
  #block {
    display: inline-block;
    margin: 0;
    height: 300px;
    width: 300px;
    border: 1px solid #CCCCCC;
  }
  #sqImg {
    z-index: 2;
  }
  #imageBanner {
    top: -300px; 
    width: 300px;
    height: 45px;
    line-height: 45px;
    /*background-color: #77c9d4;*/
    background-color: black;
    position: relative; 
    border-bottom: 3px solid #22adb5;
    z-index: 3;
  }
  #imageBannerText {
    font-family: Helvetica;
    font-size: 30px;
    margin-left: 5px;
    color: white;
  }
  #bannerCaption {
    background-color: #22adb5;
  }
  #figureLink {
    margin-top: 150px;
    margin-left: 30px;
    color: white;
  }
  hr {
    border-top: 1px solid black;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  figcaption {
    font-family: Helvetica;
  }
  li {
    float: left;
    border-right:solid 1px black;/*add */
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  h1 {
    margin-left: 10%;
    color: #black;
    font-size: 44;
  }
  h2 {
    font-size: 36;
    color: #22adb5;
  }
  a {
    font-size: 24;
    text-decoration: none;
    color: black; 
  }
  a:hover {
    color: #22adb5;
  }
